
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

main section{
     margin-top: 80px;
}

.max-width{
     max-width: 1140px;
     margin: 0 auto;

}

header , footer{
    background-color:rgba(255, 144, 14, 0.1);
}

.flex{
    display: flex;
}

nav{
    justify-content: space-between;
    align-items: center;
}

nav h3{
    font-size: 2rem;
    /* font-weight: 700; */
}

nav ul{
    /* gap: 40px; */
}

nav li{
    list-style: none;
    margin-right: 30px;
}

nav li a{
    text-decoration: none;
    font-weight: 500;
    color: #424242;
}

.text-banner{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    gap: 20px;
    /* border: 1px solid darkblue; */
}

.text-banner h1{
    font-size: 4rem;
}


p {
    color: #727272;
    font-size: 1rem;
    line-height: 30px;
}

.btn{
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding:15px 20px;
    font-weight: 600;
    font-size: 1.25rem;
    margin: 20px 0 30px 0;
}

.img-banner img{
    /* margin-top: 20px; */
    width: 100%;
}

.Features-container {
    align-items: center;
    gap: 40px;
}

.Features-img{
     /* width: 50%; */
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 10px;
}

.Features-img img{
    width: 100%;
    border-radius: 8px;
}

.Features-text{
    max-width: 500px;
    margin: 0 auto;
}

.Features-text h2{
    font-size: 45px;
}

.Features-text .list{
    font-weight: 500;
    color: #727272;
}

.Features-text .yellow{
    color: #FF900E;
}

.icons{
     display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    
}

.icon:hover{
    box-shadow: 10px 20px 10px 5px rgb(77, 74, 69);
    background-color: rgb(228, 126, 182);
}

.icon{
    padding: 20px 0 10px;
    text-align: center;
    border: 1px solid #FF900E;
   
}

.sponspors{
    text-align: center;
}

.sponspors-img img{
   margin-left: 50px;
}

footer{
    margin: 80px;
    text-align: center;
    padding: 20px;
}

/* responsive media styles */

@media screen and (min-width:576px) and (max-width:992px){
    nav{
        justify-content: space-around;
    }

        .text-banner h1{
    font-size: 3rem;
}

.flex{
    flex-direction: column;
}

.Features-text{
    text-align: center;
}

.sponspors-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 500px;
    margin-left: 60px;
}

}

@media screen and (max-width:576px){
       .flex{
         flex-direction: column;
       }
       nav ul{
        gap: 10px;
       }

       .text-banner h1{
    font-size: 2rem;
}
 
p {
    padding: 0 10px 0 10px;
    line-height: 20px;
}

.btn{
    font-weight: 600;
    font-size: 1rem;
    margin: 10px 0 20px 0;
}

.icons{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    
}

.sponspors-img{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    max-width: 500px;
    margin-left: 60px;
}

}